/node_modules/
/package-lock.json
/.idea/
/public/uploads/
/helpers/.cache/giget/v3/v3.tar.gz
/helpers/.cache/giget/v3/v3.tar.gz.json
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/af.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/am.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/ar.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/bg.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/bn.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/ca.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/cs.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/da.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/de.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/el.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/en-GB.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/en-US.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/es.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/es-419.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/et.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/fa.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/fi.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/fil.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/fr.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/gu.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/he.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/hi.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/hr.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/hu.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/id.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/it.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/ja.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/kn.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/ko.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/lt.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/lv.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/ml.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/mr.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/ms.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/nb.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/nl.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/pl.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/pt-BR.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/pt-PT.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/ro.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/ru.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/sk.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/sl.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/sr.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/sv.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/sw.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/ta.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/te.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/th.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/tr.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/uk.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/ur.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/vi.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/zh-CN.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/locales/zh-TW.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/MEIPreload/manifest.json
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/MEIPreload/preloaded_data.pb
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/117.0.5938.92.manifest
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/chrome.dll
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/chrome_100_percent.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/chrome_200_percent.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/chrome_elf.dll
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/chrome_proxy.exe
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/chrome_pwa_launcher.exe
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/chrome_wer.dll
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/D3DCompiler_47.dll
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/elevation_service.exe
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/First Run
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/icudtl.dat
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/libEGL.dll
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/libGLESv2.dll
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/mojo_core.dll
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/nacl_irt_x86_64.nexe
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/notification_helper.exe
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/resources.pak
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/v8_context_snapshot.bin
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/vk_swiftshader.dll
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/vk_swiftshader_icd.json
/helpers/.cache/puppeteer/chrome/win64-117.0.5938.92/chrome-win64/vulkan-1.dll
/public/invoices/
/public/invoices/

//also ignore the .env file
/.env